---
layout: default
---

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title">{{ page.title }}</span>
                {% if page.date or page.location %}
                <p class="grey-text">
                    {% if page.date %}
                    <i class="material-icons tiny">access_time</i>
                    <time datetime="{{ page.date | date_to_xmlschema }}">
                        {{ page.date | date: "%B %d, %Y" }}
                    </time>
                    {% endif %}
                    {% if page.location %}
                    <i class="material-icons tiny">location_on</i>
                    {{ page.location }}
                    {% endif %}
                </p>
                {% endif %}
            </div>

            <div class="card-image">
                {{ content }}
            </div>

            {% if page.flickr_url or page.glass_url %}
            <div class="card-action center-align">
                {% if page.flickr_url %}
                <a href="{{ page.flickr_url }}" target="_blank" rel="noopener" class="btn-flat">
                    <i class="material-icons left">link</i>View on Flickr
                </a>
                {% endif %}
                {% if page.glass_url %}
                <a href="{{ page.glass_url }}" target="_blank" rel="noopener" class="btn-flat">
                    <i class="material-icons left">link</i>View on Glass
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .card-image img {
        max-width: 100%;
        height: auto;
        display: block;
    }
</style>
